
.center_conte {
    position: relative;
        background-color: rgba(0,0,0,0);
    padding: 222px;
}

.left_conte {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_conte {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}
